/***** Format 1920px ******/
body{
	background-color: #DDD5D0 !important; /* Couleur de fond de la page : couleur Timberwolf */
	font-weight: 500; /* Grossir le texte */
}
/*****BANNIERE*****/
#nom_prenom{
	float: left; /* Place l'élément à gauche de l'écran */
	margin-top: 7px; /* espace haut */
	margin-left: 15px; /* espace gauche */
	color: #56445D; /* Couleur du texte : English Violet */
	font-family: 'Century Schoolbook', serif; /* Police du texte : Century School */
}
/***Barres de couleur***/
#rose, #violet{
	width: 100%; /* Prend la largeur de toute l'écran */
	height: 60px; /* Hauteur des barres de couleurs */
	margin: 0; /* Pas de marge */
}
#rose{
	background-color: #EADAD7; /* Couleur de la barre 1 : Misty Rose */
}
#violet{
	background-color: #56445D; /* Couleur de la barre 2 : English Violet */
	margin-bottom: 5%; /* Margin-bottom de 5% de la hauteur d'écran */
}

/*** Barre de navigation ***/
.navbar {
    width: 100%; /* Étendue sur la largeur de l'écran */
    padding: 0 !important; /* Suppresion du padding */
    margin: 0 !important; /* Suppression du margin */
	top: 5px; /* Espace haut */
}

#navbarNavDropdown {
    justify-content: flex-end; /* Alignement des éléments à droite */
    background-color: #56445D; /* Couleur English Violet */
    padding: 0 !important; /* Suppresion du padding */
    margin: 0 !important; /* Suppresion du margin */
}

.navbar-nav {
    margin: 0 !important; /* Suppresion du margin */
    padding: 0 !important; /* Suppresion du padding */
}
/* Style des liens */
.nav-item .nav-link {
    background-color: #56445D !important; /* Fond de lien de couleur English Violet */
    color: #EADAD7 !important; /* couleur des lien Misty Rose */
    font-family: 'Montserrat', sans-serif; /* Police d'écriture */
    font-size: 110%; /* Taille du texte */
}

/*** Parcours d'étude ***/
.timeline {
    text-align: center; /* Centre les enfants horizontalement */
    margin-top: 8%; /* Espacement par rapport à la barre de menu */
    display: flex; /* Utilisation de Flexbox */
    justify-content: space-between; /* Distribue l'espace entre les éléments */
    padding: 0 5%; /* Ajoute un padding sur les côtés gauche et droit pour espacer les containers */
    width: 100%; /* Assure que la timeline prend toute la largeur disponible */
}
.container {
    position: relative; /* Positionnement par rapport au parent */
    display: flex; /* Disposition en colonne */
    flex-direction: column; /* Alignement vertical */
    align-items: center; /* Centrage horizontal */
    width: 30%; /* Largeur du bloc de contenu */
    height: 310px;
}
/* Bloc de contenu */
.content {
    border-radius: 10px; /* Coins arrondis */
    font-size: 100%; /* Taille de police de 100% */
    text-align: center; /* Texte centré */
    padding: 10px; /* Espacement intérieur */
    background-color: #56445D; /* Couleur de fond : English Violet */
    color: #F2F2F2; /* Couleur du texte */
    height: 100%;
	width: 100%;
}
/* Effet au survol */
#Prepa:hover, #BUT:hover {
    cursor: pointer; /* Changement de curseur au survol */
    background: linear-gradient(125deg, #56445D 92.5%, #BFACB5); /* Nouvelle couleur au survol : Rose Quartz */
}


/************************************/
/***** FORMAT TELEPHONE  *****/
@media screen and (max-width: 720px) { /* ACTIVATION UNIQUEMENT POUR ÉCRAN DE 600PX ET MOINS */
	/* Ajustement de la navbar */
    .navbar {
        position: fixed; /* Barre de navigation fixée en haut */
        top: 10px; /* Margin haut */
        left: 0; /* Margin left */
        width: 100%; /* Prend toute la largeur de l'écran */
        z-index: 2; /* S'assure que la navbar passe toujours au-dessus des autres éléments */
    }

    #navbarNavDropdown {
        text-align: center; /* Texte centré */
        padding: 10px; /* Padding de 10px */
        width: 100% !important; /* Force le dropdown à prendre toute la largeur */
        position: absolute; /* Position libre par rapport à .navbar */
        left: 0;  /* Positionne le menu à gauche de l'écran */
        right: 0; /* Assure que le menu occupe toute la largeur */
        background-color: #56445D; /* Couleur de fond : English Violet */
    }

    .navbar-toggler {
        border-color: #EADAD7; /* Couleur de la bordure de cadre : Misty Roses */
    }

    /* Modification de .navbar-collapse pour s'assurer que la navbar prend toute la largeur */
    .navbar-collapse {
        position: absolute; /* Position libre */ 
        top: 50px; /* Ajuste la position du menu déroulant */
        left: 0; /* Étendue à gauche (0 = pas de margin) */
        right: 0; /* Étendue à droite (0 = pas de margin) */
        width: 100%; /* Le menu occupe toute la largeur */
        background-color: #56445D; /* Même couleur de fond que la navbar */
    }
    .nav-item {
        width: 100%; /* Chaque item prend toute la largeur */
    }

    .nav-link {
        width: 100%; /* Prend toute la largeur */
        text-align: center; /* Centrer les liens dans chaque item */
        padding: 15px 0; /* Ajuste la hauteur des éléments du menu */
        color: #EADAD7 !important; /* Assurez-vous que la couleur du texte est bien visible */
    }

	/*PAGE*/
    .timeline {
        top: 5%; /* Espacement haut de 5% */
        transition: margin-top 0.3s ease; /* Pour rendre l'animation fluide */
    }

    .container {
        width: 100%; /* Prend la largeur totale de l'écran */
        display: block; /*  */
        position: relative; /* Positionnement par rapport au parent */
        left: 0; /* aucun espace à gauche */
        margin-bottom: 20px; /* Ajoute de l'espace entre les éléments */
    }

    .content {
        width: 100%; /* Prend la largeur total de l'élément */
        margin: 0 auto; /* Centre les blocs */
        text-align: left; /* Texte aligné à gauche */
        padding: 5px 5px 5px 5px; /* Padding de 5px autour du texte */
    }
}


